:root {
  --mode: light;
  --name: "Default";
  color: #000000;
  background-color: #ffffff;
  border: 1px #800080;
}

.info {
  color: #BFBFBF;
}

.link {
  color: #000000;
}

/* process boxes */
.unit-process-box {
  border: 1px #800080;
}

.system-result-box {
}

.library-process-box {
}

.sub-system-box {
}

/* flow links */

.product-flow-link {
}

.waste-flow-link {
}

.elementary-flow-link {
}

/* flow labels */

.product-flow-label {
}

.waste-flow-label {
}

.elementary-flow-label {

}
