:root {
  --mode: light;
  --name: "Default";
}

.default {
  background-color: #FFFFFF;
  color: black;
  border: 1px #800080;
}

.info {
  color: #BFBFBF;
}

/* process boxes */
.unit-process-box {
}

.system-result-box {
}

.library-process-box {
}

.sub-system-box {
}

/* flow links */

.product-flow-link {
}

.waste-flow-link {
}

.elementary-flow-link {
}

/* flow labels */

.product-flow-label {
}

.waste-flow-label {
}

.elementary-flow-label {

}
